form {
	display: inline-block;
}

#Custome-div {
	align-items: center;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0/ 10%);
	box-sizing: border-box;
	margin: 10% auto;
	padding: 20px 0 28px;
	width: 396px;
	text-align: center;
	background-color: white;
}