#fixedButtonAdd {
	margin: 20px auto;
	align-items: center;
	background-color: #1877f2;
	/* border: none; */
	/* border-radius: 8px; */
	/* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
	/* box-sizing: border-box; */
	/* margin: 100px auto; */
	/* padding: 20px 0 28px; */
	border-radius: 6px;
	width: 396px;
	text-align: center;
}

#fixedButtonDelete {
	background-color: red;
	border: none;
	font-size: 15px;
	line-height: 30px;
	padding: 0 16px;
	width: 150px;
	text-align: center;
}

#fixedButtonSearch {
	border: none;
	font-size: 15px;
	line-height: 30px;
	margin: 20px auto;
	align-items: center;
	width: 150px;
	text-align: center;
}

#fixedButtonSearch button {
	background-color: #f8dad0;
}

#fixedButtonDelete button {
	background-color: red;
}

#page-main-Admin {
	float: left;
	padding-left: 210px;
	padding-bottom: 5%;
	padding-top: 5%;
	width: 100%;
}

.col-3 {
	width: 33.3333333%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.col-2 {
	width: 50%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

button {
	background-color: #1877f2;
	border: none;
	border-radius: 6px;
	font-size: 15px;
	line-height: 30px;
	padding: 0 16px;
	width: auto;
}

* {
	margin: 0;
	outline: none;
}

:root { --1e3145: #1e3145; --colorWhite: #ffffff;
}

body {
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	line-height: normal;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background-image: linear-gradient(#001c44, #0c5776, #2d99ae, #bcfefe, #f8dad0);
	color: #000000;
	/*font-family: "Lucida Grande", Arial, Helvetica, sans-serif;*/
	line-height: 1.7;
}

#wrapper {
	width: 1000px;
	text-align: left;
	margin: 0px auto;
	padding: 0px 10px;
	background: #FFFFFF;
}

#wrapperAdmin {
	text-align: left;
	margin: 0px auto;
	padding: 0px 10px;
	background: #FFFFFF;
	padding-top: 10px;
	height: -webkit-fill-available;
}

.space-text-widget {
	height: 30px;
}

.highlight {
	font-style: oblique;
	color: red;
}

#td-top {
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	line-height: 1.7;
	border-radius: 5px;
}

.panel {
	margin: 7px 0;
	background-color: #fff;
}

.panel-heading {
	padding: 5px 15px;
	color: #fff;
	background-color: #0471dc;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0/ 14%), 0 1px 5px 0
		rgb(0 0 0/ 12%), 0 3px 1px -2px rgb(0 0 0/ 20%);
	box-shadow: 0 2px 2px 0 rgb(0 0 0/ 14%), 0 1px 5px 0 rgb(0 0 0/ 12%), 0
		3px 1px -2px rgb(0 0 0/ 20%);
}

.panel-body {
	padding: 0;
	border: 1px solid #e1e1e1;
	border-top: 1px solid #0471dc;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #fff;
	line-height: 150%;
	text-align: center;
}

.clearfix, .form-horizontal .form-group:after, .row:after {
	clear: both;
}

.form-group {
	margin-bottom: 15px;
}

#main-content-3col {
	float: left;
	width: 60%;
	margin: 0 20%;
	box-sizing: border-box;
	padding: 0 15px;
}

.form-control {
	width: 100%;
	height: 38px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0/ 8%);
	box-shadow: inset 0 1px 1px rgb(0 0 0/ 8%);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.col-7 {
	flex: 0 0 auto;
}

#group-button {
	float: left;
	width: auto;
	/* margin: 0 10px 0 0; */
	box-sizing: border-box;
	padding: 0 0 10px 0;
}
