/* Google Font Import - Poppins */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* ====== Transition ====== */ --tran-03: all 0.2s ease; --tran-03: all 0.3s ease; --tran-04: all 0.3s ease; --tran-05: all 0.3s ease;
}

body {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif !important;
	color: #001c44;
	background-color: #eef2f8;
}

::selection {
	background-color: #1877F2;
	color: #fff;
}

#wrapperAdmin {
	text-align: left;
	margin: 0px auto;
	padding: 0px 10px;
	background: #FFFFFF;
	padding-top: 10px;
	height: -webkit-fill-available;
	width: 60%;
	box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0/ 10%);
}

/* ===== Sidebar ===== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 300px;
	padding: 10px 14px;
	background: white;
	transition: var(- -tran-05);
	z-index: 100;
	box-shadow: 0 2px 4px rgb(0 0 0/ 20%), 0 8px 16px rgb(0 0 0/ 20%);
}

.sidebar.close {
	width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
	height: 50px;
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.sidebar header .image, .sidebar .icon {
	min-width: 60px;
	border-radius: 6px;
}

.sidebar .icon {
	min-width: 60px;
	border-radius: 6px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.sidebar .text, .sidebar .icon {
	color: #001c44;
	transition: var(- -tran-03);
}

.sidebar .text {
	font-size: 17px;
	font-weight: 500;
	white-space: nowrap;
	opacity: 1;
}

.sidebar.close .text {
	opacity: 0;
}
/* =========================== */
.sidebar header {
	position: relative;
}

.sidebar header .image-text {
	display: flex;
	align-items: center;
}

.sidebar header .logo-text {
	display: flex;
	flex-direction: column;
}

header .image-text .name {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 600;
}

header .image-text .profession {
	font-size: 16px;
	margin-top: -2px;
	display: block;
}

.sidebar header .image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar header .image img {
	width: 40px;
	border-radius: 6px;
}

.sidebar header .toggle {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%) rotate(180deg);
	height: 25px;
	width: 25px;
	background-color: #0d6efd;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	cursor: pointer;
	transition: var(- -tran-05);
}

.sidebar.close .toggle {
	transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
	margin-top: 40px;
}

.sidebar li a {
	list-style: none;
	height: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	text-decoration: none;
	transition: var(- -tran-03);
}

.sidebar li a:hover {
	background-color: #55acee;
}

.sidebar li a:hover .icon, .sidebar li a:hover .text {
	color: white;
}

.sidebar .menu-bar {
	height: calc(100% - 55px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
	display: none;
}

.sidebar .menu-bar .mode {
	border-radius: 6px;
	background-color: var(- -primary-color-light);
	position: relative;
	transition: var(- -tran-05);
}

.menu-bar .mode .sun-moon {
	height: 50px;
	width: 60px;
}

.mode .sun-moon i {
	position: absolute;
}

.mode .sun-moon i.sun {
	opacity: 0;
}

body.dark .mode .sun-moon i.sun {
	opacity: 1;
}

body.dark .mode .sun-moon i.moon {
	opacity: 0;
}

.switch::before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background-color: var(- -sidebar-color);
	transition: var(- -tran-04);
}

.home {
	position: absolute;
	top: 0;
	left: 300px;
	height: 100vh;
	width: calc(100% - 300px);
	background-color: #eef2f8;
	transition: var(- -tran-05);
}

.home .text {
	font-size: 30px;
	font-weight: 500;
	color: #001c44;
	padding: 12px 60px;
}

.sidebar.close ~ .home {
	left: 88px;
	height: 100vh;
	width: calc(100% - 88px);
}

.row {
	margin: 0px;
}

.title {
	margin-top: 40px;
	font-size: calc(1.375rem + 1.5vw);
	color: #8b0000;
}

.title2 {
	text-align: center;
	margin-top: 40px;
	font-size: calc(1.375rem + 1.5vw);
	color: #001c44;
}

/*dropdown*/
.dropdown-menu li a {
	width: 250px;
	padding: 10px;
	color: #001c44;
}

.dropdown-menu li a:hover {
	color: white !important;
	background-color: #55acee !important;
	border-radius: 5px;
	margin: 2%;
}

.form-control {
	color: #001c44;
	font-family: 'Roboto', sans-serif;
}

ul {
	/* list-style: none; */
	padding: 0;
	margin: 0;
	/* font-weight: bold; */
}

@media all and (min-width: 992px) {
	.nav-item .dropdown-menu {
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
	}
	.dropdown-menu.fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}
	.dropdown-menu.fade-up {
		top: 180%;
	}
	.nav-item:hover .dropdown-menu {
		display: block;
		transition: .3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
	.sidebar.close .nav-item:hover .dropdown-menu {
		display: none;
		transition: .3s;
		opacity: 0;
		visibility: hidden;
		top: 100%;
		transform: rotateX(0deg);
	}
}

/*form*/
form {
	display: inline-block;
	width: 100%;
}

/*row*/
.row {
	margin-top: 20px;
}

/*input*/
input::placeholder {
	font-size: 14px;
	color: #EDEADE;
}

/*selection*/
.form-select {
	color: #001c44;
}