#footer-box1 {
    width: 99.5%;
    border-top: solid 5px #47B2E8;
    border-bottom: 1px solid #47B2E8;
    border-left: 1px solid #47B2E8;
    border-right: 1px solid #47B2E8;
    text-align: left;
    background: #FFF;
    font-size: 1.2em;
    padding-left: 5px;
    padding-top: 10px;
    color: #FFFFFF;
    background: #1e435e;
}