.lop-day {
    padding-bottom: 50px;
    font-size: 12px;
}
table td {
    border: 1px solid #001c44;
    padding: 4px 5px;
    vertical-align: middle;
    font-size: 12px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.row0 td{
	background-color: #c2e4a9;
}