@import
	url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@200;500;800&display=swap')
	;

html, body {
	width: 100%;
	height: 100%;
	line-height: 1.7e;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	background-color: #eef2f8;
	font-family: 'Roboto', sans-serif;
	color: #001c44;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}


.navbar {
	background-color: #0a426e !important;
	position: fixed;
	width: 100%;
}

.navbar li {
	text-align: center;
}

.navbar li a {
	color: white;
	display: inline-block;
	width: 120px;
	font-size: 15px;
	font-weight: 500;
}

.navbar li a:hover {
	color: #746c6b !important;
}

.sidenav {
	height: 100%;
	width: 250px;
	z-index: 1;
	/* margin-left: 5px; */
	/* margin-top: 5px; */
	overflow-x: hidden;
	padding-top: 20px;
	background-color: white;
	/* border: 2px solid #b85b56;*/
	box-shadow: 0 2px 4px rgb(0 0 0/ 50%), 0 8px 16px rgb(0 0 0/ 50%);
}

.sidenav li {
	margin-top: 5px;
	height: 30px;
	list-style: none;
	display: flex;
	align-items: center;
}

.sidenav li a {
	padding: 6px 8px 6px 16px;
	color: #17629f !important;
	font-size: 15px;
	font-weight: 200;
	display: block;
}

.sidenav a:hover {
	color: white !important;
	background-color: #0a426e !important;
	border-radius: 5px;
}

.sidenav li span {
	margin-top: 10px;
	border-bottom: 1px dotted #0a426e;
	color: #145589 !important;
	font-size: 16px;
	font-weight: 900;
	text-align: center;
	display: block;
}

.main {
	margin-left: 0px;
	text-align: left;
}

.dropdown-menu li a {
	width: auto;
	padding: 10px;
	color: #6d727c;
}

.dropdown-menu li a:hover {
	color: white !important;
	background-color: #0a426e !important;
	border-radius: 5px;
}

#wrapper {
	width: 1000px;
	text-align: left;
	margin: 0px auto;
	padding: 0px 10px;
	background: #FFFFFF;
}

#wrapperAdmin {
	text-align: left;
	margin: 0px auto;
	padding: 0px 10px;
	background: #FFFFFF;
	padding-top: 10px;
	height: -webkit-fill-available;
}

.space-text-widget {
	height: 30px;
}

.highlight {
	font-style: oblique;
	color: red;
}

#td-top {
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	line-height: 1.7;
	border-radius: 5px;
}

.panel {
	margin: 7px 0;
	background-color: #fff;
}

.panel-heading {
	padding: 5px 15px;
	color: #fff;
	background-color: #0471dc;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0/ 14%), 0 1px 5px 0
		rgb(0 0 0/ 12%), 0 3px 1px -2px rgb(0 0 0/ 20%);
	box-shadow: 0 2px 2px 0 rgb(0 0 0/ 14%), 0 1px 5px 0 rgb(0 0 0/ 12%), 0
		3px 1px -2px rgb(0 0 0/ 20%);
}

.panel-body {
	padding: 0;
	border: 1px solid #e1e1e1;
	border-top: 1px solid #0471dc;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #fff;
	line-height: 150%;
	text-align: center;
}

.clearfix, .form-horizontal .form-group:after, .row:after {
	clear: both;
}

.form-group {
	margin-bottom: 15px;
}

#main-content-3col {
	float: left;
	width: 60%;
	margin: 0 20%;
	box-sizing: border-box;
	padding: 0 15px;
}

.form-control {
	width: 100%;
	height: 38px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0/ 8%);
	box-shadow: inset 0 1px 1px rgb(0 0 0/ 8%);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}